<% layout('./layout/page') -%>
<% block('title', 'Система консультирования'); -%>

<h3 class="">
	О системе
</h3>

<p>
	Cистема онлайн-консультирования была спроектирована и создана для быстрого поиска информации студентами. Также, с помощью функционала системы преподаватели могут с легкостью передать студентам какую либо информацию.
</p>

<img src="images/first.jpg" class="img-fluid slide i1">
<img src="images/second.jpg" class="img-fluid slide i2">
<img src="images/third.jpg" class="img-fluid slide i3">


