<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav navbar-left ">
    <li><img src="images/logo.png" alt="" class="logo"></li>
  </ul>
  <ul class="nav justify-content-center">
    <li class="nav-link"><a href="/">Главная</a></li>
    <% if (user) { %>
    <li class="nav-link"><a href="/chat">Чат</a></li>
    <% } %>
     <% if (user) { %>
    <li class="nav-link"><a href="/profile">Профиль</a></li>
    <% } %>
  </ul>
  <ul class="nav navbar-nav navbar-right">

    <% if (user) { %>
    <li><form method=POST action="/logout"> <button type="submit" class="btn btn-primary" data-loading-text="Отправляю...">Выйти</button></form></li>
    <% } else { %>
    <li><a href="/login">Войти или зарегистрироваться</a></li>
    <% } %>
  </ul>
</nav>